@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeneralSans';
  src: url('./fonts/GeneralSans-Variable.ttf') format('truetype');
}

@layer base {
  body {
    @apply bg-[#f8f8f8] font-[GeneralSans]
  }
}

@layer components {
  .add-step-bg {
    @apply h-[140vh] bg-[#110c22] w-0 left-0 top-[-20vh] bg-opacity-0 opacity-0 fixed justify-center items-center flex
    transition duration-[400ms] ease-in-out overflow-hidden -translate-y-8;
  }

  .active {
    @apply flex bg-opacity-65 w-screen opacity-100 translate-y-0;
  }

  .modal-input {
    @apply mb-4 rounded-xl bg-[#F8F8F8] border-[#ECECED] border py-3 px-4 text-[#110c22] outline-[#E2DCFF] outline-offset-2
      focus-visible:border-[#7357FF] focus-visible:outline-8;
  }
}